.main-title {
	font-size: 5em;
	text-align: center;
}

.sub-title {
	font-weight: initial;
	text-align: center;
}

.main-hr {
	border-bottom: 8px solid #444;
	box-shadow: #444 0 2px 3px;
}

.btn-bottom {
	margin-top: 15px;
}